body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

h1 {
  color: white;
}

#seccion {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  margin-top: 150px;
  color: white;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  margin: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#einstein {
  margin-top: 70px;
  width: 350px;
  height: 330px;
  position: absolute;
  z-index: -1;
  border-radius: 90%;
  border: 5px solid grey;
}

#textoHover {
  position: absolute;
  width: 130px;
  display: flex;
  color: rgb(71, 71, 71);
  font-size: 20px;
  margin-top: 225px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;

  z-index: -1;
}

.minutos {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  margin-top: 40px;
  position: absolute;
  animation-name: agujas;
  animation-duration: 20s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.minutos2 {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  margin-top: 90px;
  z-index: -1;
  position: absolute;
  animation-name: agujas;
  animation-duration: 160s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes agujas {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.minutos:hover ~ #textoHover {
  z-index: 1;
  opacity: 1;
  transform: translatex(100px);
  transition: all 1s ease-in-out;
}

.minutos:not(:hover) ~ #textoHover {
  z-index: -1;
  opacity: 0;
  transform: translatex(0px);
  transition: all 1s ease-in-out;
}
